.App{
  margin: 100px;

}
.board-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
   color: red;
}
 
.squar{ 
  border: 1px solid black;
  height: 100px;
  
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}